.head {
    height: 3vh;
    padding-left: 2vh;
    top: 0;
    background-color: #F0EFDD ;
    grid-area: head;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    border-top: black solid 2px;
    border-bottom:black solid ;
    font-family: 'Times New Roman', Times, serif;
    
}

.head-link {
    color: black;
    text-decoration: underline;
    padding: 5px 10px;
}

.head-link:hover {
    color: blue;
}