.ab{
    background-color: #F0EFDD;
    padding: 10px 20px 25px 25px;
    display: inline-block;
    font-size: 22px;
    padding-inline-end: 260px;
    padding-inline-start: 40px;
    font-family: 'Times New Roman', Times, serif;
    
}

.about {

    padding-top: 1vh;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 4vh;
    
}

.dec{
    padding-left: 50px;
}

.dec1{
    padding-left: 20px;
}

.dec2{
    padding-left: 10px;
}

.dec3{
    padding-left: 63px;
}

.dec4{
    padding-left: 30px;
}

.dec5{
    padding-left: 25px;
}


.op{
    font-size: 28px;
    padding-left: 6vh;
}

.about p{
    font-family: 'Times New Roman', Times, serif;
    

}