.nw{
    background-color: #F0EFDD;
    padding: 40px 20px 25px 25px;
    display: inline-block;
    font-size: 22px;
    padding-inline-end: 300px;
    font-family: 'Times New Roman', Times, serif;

}

.new {
    padding-left: 3vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}





.new p{
    font-family: 'Times New Roman', Times, serif;    
    font-size: 22px;

}